$secondary: #f4f4f4;
$primary: #e21c68;

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-ls: 0;

// 自訂一個樣式屬性客製類別
// 如果此變數有預設值就使用預設值，未有預設值就使用現在設置值
$utilities: () !default;
// 設置該變數未有預設值時，設置的參數值內容
$utilities: map-merge(
  (
    // 針對 Input 樣式'padding'進行客製大小屬性，並給予一個新的客製類別名稱做取用代表
      "input-padding":
      (
        property: padding,
        class: ipstyle,
        values: (
          0: 0,
          1: 0.3rem,
          2: 0.5rem,
          3: 0.7rem,
          4: 0.9rem,
          5: 1rem,
        ),
      )
  ),
  $utilities
);

@import "style.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
